<div class="jumbotron masthead">
  <div class="container">
    <h1>Millstone </h2>
    <p> Where apprenticeship and mastery meet </p>
    <p><a href="#" class="btn btn-primary btn-large"> Join Today</a></p>
  </div>
</div>

<div class="mastsocial">
  <div class="container">
    <ul class="mastsocial_btns">
      <li>Follow</li>
      <li>tweet</li>
      <li>tumblr</li>
    </ul> 
  </div>
</div>

<div class="container">
  <div class="marketing">
    <h1> Introducing Millstone </h1>
    <p class="marketing-byline"> How it works </p>
    <div class="row-fluid">
      <div class="span4">
        <img src="http://placehold.it/300x145">
        <h2>A community fostering mastery.</h2>
        <p>The place where people connect in all different areas and skillsets.
      </div>
      <div class="span4">
        <img src="http://placehold.it/300x145">
        <h2>Where masters mentor.</h2>
        <p> Do you have experience in a particular skillset?  Chances are there is someone who would love to be of service and learn.</p>
      </div>
      <div class="span4">
        <img src="http://placehold.it/300x145">
        <h2>Apprenticeship sparks.</h2>
        <p>Interested in dedicating time and learning to a certain area?  Connect with a master and become an apprentice.</p>
      </div>
    </div>

  </div>
  <hr />
  </div>

<div class="container">
  

  <div class="marketing">
    <h1> Why Join? </h1>
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="hatfeature clearfix">
    <h2>Master your skill</h2>
    <p>this is the description for all that entails this particular</p>
  </div>
        </div>
        <div class="span6">
          <div class="hatfeature clearfix">
    <h2>Master your skill</h2>
    <p>this is the description for all that entails this particular</p>
  </div>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div class="hatfeature clearfix">
    <h2>Master your skill</h2>
    <p>this is the description for all that entails this particular</p>
  </div>
        </div>
        <div class="span6">
          <div class="hatfeature clearfix">
    <h2>Master your skill</h2>
    <p>this is the description for all that entails this particular</p>
  </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="home-discover">

</div>