<div class="jumbotron masthead">
  <div class="container">
    <h1>Millstone </h2>
    <p> Where apprenticeship and mastery meet </p>
    <p><a href="#" class="btn btn-primary btn-large"> Join Today</a></p>
  </div>
</div>

<div class="mastsocial">
  <div class="container">
    <ul class="mastsocial_btns">
      <li>link </li>
    </ul>  
  </div>
</div>