


<div class="page-header">
<h1>Mentors</h1>
</div>

<% @mentors.each do |mentor| %>
<div class="status">
  <strong> <%= mentor.name %> </strong>
  <p><%= mentor.content  %></p>

  <div class="meta">
    <%= link_to "Show", mentor %>
  </div>
</div>

<% end %>


