// Place all the styles related to the mentors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mentor {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;

}

.mentor p {
	margin: 4px 0;
}

.mentor.hover{
	background: #FAFAFA;
}
.mentor .admin {
	display: none;
}

.mentor.hover .admin {
	display: inline;
}

